.form_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  h2 {
    margin: 0 0 30px;
    color: #fff;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
  }
}

.user_box {
  position: relative;
  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: 0.5s;
    font-family: "Fredoka", sans-serif;
  }
}

.user_box input:focus ~ label,
.user_box input:valid ~ label {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  color: #03e9f4;
  background: transparent;
  border: 1px solid #03e9f4;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Fredoka", sans-serif;
}

button:hover {
  background: #03e9f4;
  color: black;
}
