.task_container {
  padding-top: 30px;
  background-color: #121212;
  min-width: 600px;
  width: 100px;
  box-sizing: border-box;
  margin: 0 auto;
  h2 {
    background-color: #121212;
    color: white;
    font-family: "Lexend", sans-serif;
    text-align: center;
  }
}

.list_container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121212;
  box-sizing: border-box;
}
