.header_container {
  max-width: 600px;
  width: 100%;
  background-color: black;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  h2 {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    color: white;
  }
}
